body {
    margin: 0;
}

#div1 {
    margin: 0;
    height: 20vh;
    width: 100vw;        

    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 22px;

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

#div2 {  
    width: 100vw;
    
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
img{
    max-width: 100%;
}

#div3 { 
    margin-left: 5vw;
    margin-right: 5vw;
    height: 10vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#div4 {   
    margin-left: 5vw;
    margin-right: 5vw;
    height: 5vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}